body {
    font-family: 'Russo One', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

div {
    display: flex;
    justify-content: center;
}

button {
    height: 2em;
    width: 5em;
    font-size: 2em;
    color: white;
    border: solid #337FED 1px;
    background-image: linear-gradient(to bottom, #006699, #0099CC);
}

button:hover {
    background-image: linear-gradient(to bottom, #0088BB, #00BBEE);
}

.slider {
    margin-bottom: 1em;
}
